body{
    background-color: rgb(207, 255, 238);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(0, 0, 0);
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li{
    padding: 10px 10px;
    color: white;
}

nav .logo img{
    width: 60px;
    height: 50px;
    border-radius: 100px;
    padding: 0px 5px;
}

.logo{
    display: flex;
    font-weight: bold;
    align-items: center;
    font-size: 1.2em;
}

.container{
    min-height: 76vh;
    background-color: black;
    color: white;
    width: 60%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 15px;
    background-image: url("songbg.png");
    background-size: cover;
}

.bottom{
    position:sticky;
    background-color: rgb(10, 15, 15);
    color: white;
    height: 100px;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    font-size: 1.8em;
    margin: 10px;
}

.icons i{
    cursor: pointer;
}

#progressBar{
    width: 90vw;
    cursor: pointer;
}

.songItems{
    height: 30px;
    background-color: rgb(231, 240, 237);
    color: black;
    display: flex;
    padding: 5px 2px;
    width: 40%;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    border-radius: 30px;
}

.songItems img{
    width: 45px;
    border-radius: 50px;
}

.timeStamp i{
    cursor: pointer;
}

.songItemContainer{
    margin-top: 30px;
}